---
const year = new Date().getUTCFullYear();
---

<footer
  class="text-center md:text-right text-xs py-3 pr-6 bg-gray-800/15 backdrop-blur-md"
>
  <p>
    Copyright © <span class="italic">2018-{year}</span> Rusty Huskey
  </p>
</footer>
