---
const year = new Date().getUTCFullYear();
---

<footer
  class="text-center py-3 border-gray-800 bg-gray-500/25 backdrop-blur-md"
>
  <p>
    Copyright © 2018-{year} Rusty Huskey
  </p>
</footer>
