<header class="fixed top-0 w-full bg-black/50 backdrop-blur z-50">
  <nav class="max-w-5xl mx-auto flex justify-between items-center py-4 px-6">
		<div class="flex items-center space-x-2">
			<img src="/img/favicon.png" alt="Icon" class="h-8 w-8 scale-125" />
			<!-- <p><span class="font-bold">RHG</span>Dev</p> -->
		</div>
    <!-- <div class="space-x-4">
      <a href="#about" class="hover:text-blue-400">About</a>
      <a href="#projects" class="hover:text-blue-400">Projects</a>
      <a href="#contact" class="hover:text-blue-400">Contact</a>
    </div> -->
  </nav>
</header>