@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #0d0c0f;
}
::-webkit-scrollbar-thumb {
  background: #292b30;
}
::-webkit-scrollbar-thumb:hover {
  background: #292b30;
}
