@import "tailwindcss";

body {
  font-family: "Passero One", monospace;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #0d0c0f;
}
::-webkit-scrollbar-thumb {
  background: #292b30;
}
::-webkit-scrollbar-thumb:hover {
  background: #292b30;
}
