---
import { Image } from "astro:assets";
---

<section
  class="min-h-screen flex items-center justify-center text-center
bg-linear-to-b from-black/10 to-black/40"
>
  <div>
    <style>
      .avatar.enter {
        animation: avatarEnter 0.9s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
      }

      .avatar.glow {
        animation: pulse 7s ease-in-out infinite;
      }

      @keyframes avatarEnter {
        0% {
          opacity: 0;
          transform: scale(0.25) rotate(-180deg);
        }
        70% {
          opacity: 1;
          transform: scale(1.1) rotate(10deg);
        }
        100% {
          opacity: 1;
          transform: scale(1) rotate(0deg);
        }
      }

      @keyframes pulse {
        0%,
        100% {
          filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0.75));
        }
        50% {
          transform: scale(1.05);
          filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.75));
        }
      }
    </style>
    <Image
      src="/img/favicon.png"
      alt="Profile"
      class="avatar w-48 h-48 rounded-full mx-auto mb-4 object-cover"
      width="1080"
      height="1080"
      loading="eager"
    />
    <h1 class="text-6xl font-bold">RHG</h1>
    <p class="text-3xl text-gray-300 mb-2">Tennessee, USA</p>
    <p class="text-xl text-gray-400 mb-2 italic">
      <span id="typer"> </span>
    </p>
  </div>
  <!-- Bottom of div floating down arrow -->
  <div class="absolute bottom-1 left-1/2 transform -translate-x-1/2">
    <svg
      class="w-6 h-6 animate-bounce text-gray-400"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M19 9l-7 7-7-7"></path>
    </svg>
  </div>
</section>

<!-- Client-side script -->
<script type="module">
  new TypeIt("#typer", {
    speed: 90,
    startDelay: 800,
    lifeLike: true,
    cursor: true,
  })
    .type("Consistency is Power.")
    .pause(1200)
    .move(-10)
    .pause(300)
    .delete()
    .pause(300)
    .type("Execution")
    .pause(1200)
    .delete()
    .pause(300)
    .type("Knowledge")
    .move(null, { to: "END" })
    .move(-1)
    .delete(5, { delay: 300 })
    .pause(300)
    .type(
      '<span class="text-gray-300" style="filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.75))"">Power</span>',
      {
        delay: 300,
      },
    )
    .go();
</script>

<script>
  const avatar = document.querySelector(".avatar");

  if (avatar) {
    requestAnimationFrame(() => {
      avatar.classList.add("enter");
    });

    setTimeout(() => {
      avatar.classList.add("glow");
      avatar.classList.remove("enter");
    }, 900);
  }
</script>
